global
  log stdout format raw local0
  maxconn 5000
  stats socket ipv4@127.0.0.1:9999 level operator

resolvers kubernetes_dns
  parse-resolv-conf
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold valid 5s
  hold obsolete 10s

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 1s
  timeout check 1s
  timeout client 1h
  timeout server 1h
  default-server check inter 500ms fastinter 250ms downinter 500ms fall 2 rise 1 init-addr libc,none resolvers kubernetes_dns resolve-prefer ipv4

frontend client_tcp
  bind :9000
  tcp-request inspect-delay 1s
  acl wants_any req.payload(0,0) -m sub "@location any"
  acl wants_los_angeles req.payload(0,0) -m sub "@location los-angeles"
  acl wants_new_york req.payload(0,0) -m sub "@location new-york"
  acl wants_london req.payload(0,0) -m sub "@location london"
  acl wants_singapore req.payload(0,0) -m sub "@location singapore"
  acl wants_frankfurt req.payload(0,0) -m sub "@location frankfurt"
  tcp-request content accept if wants_any
  tcp-request content accept if wants_los_angeles
  tcp-request content accept if wants_new_york
  tcp-request content accept if wants_london
  tcp-request content accept if wants_singapore
  tcp-request content accept if wants_frankfurt
  use_backend tcp_servers if wants_any
  use_backend location_los_angeles if wants_los_angeles
  use_backend location_new_york if wants_new_york
  use_backend location_london if wants_london
  use_backend location_singapore if wants_singapore
  use_backend location_frankfurt if wants_frankfurt
  default_backend tcp_servers

backend tcp_servers
  balance roundrobin
  option tcp-check
  tcp-check connect
  tcp-check send "@probe any\n"
  tcp-check expect string ready
  server-template server 10 tcp-server-headless.tcp-lab.svc.cluster.local:7000

backend location_los_angeles
  option tcp-check
  tcp-check connect
  tcp-check send "@probe los-angeles\n"
  tcp-check expect string ready
  server-template server 10 tcp-server-headless.tcp-lab.svc.cluster.local:7000

backend location_new_york
  option tcp-check
  tcp-check connect
  tcp-check send "@probe new-york\n"
  tcp-check expect string ready
  server-template server 10 tcp-server-headless.tcp-lab.svc.cluster.local:7000

backend location_london
  option tcp-check
  tcp-check connect
  tcp-check send "@probe london\n"
  tcp-check expect string ready
  server-template server 10 tcp-server-headless.tcp-lab.svc.cluster.local:7000

backend location_singapore
  option tcp-check
  tcp-check connect
  tcp-check send "@probe singapore\n"
  tcp-check expect string ready
  server-template server 10 tcp-server-headless.tcp-lab.svc.cluster.local:7000

backend location_frankfurt
  option tcp-check
  tcp-check connect
  tcp-check send "@probe frankfurt\n"
  tcp-check expect string ready
  server-template server 10 tcp-server-headless.tcp-lab.svc.cluster.local:7000

listen stats
  mode http
  bind :8404
  stats enable
  stats uri /stats
  stats refresh 2s
  stats show-legends
  stats show-node
