global
  log stdout format raw local0
  maxconn 5000

resolvers kubernetes_dns
  parse-resolv-conf
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold valid 5s
  hold obsolete 10s

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 3s
  timeout client 1h
  timeout server 1h

frontend client_tcp
  bind :9000
  default_backend tcp_servers

backend tcp_servers
  balance roundrobin
  option tcp-check
  default-server check inter 2s fall 2 rise 1 init-addr libc,none resolvers kubernetes_dns resolve-prefer ipv4
  server-template server 20 tcp-server-headless.tcp-lab.svc.cluster.local:7000

listen stats
  mode http
  bind :8404
  stats enable
  stats uri /stats
  stats refresh 2s
  stats show-legends
  stats show-node
